IPv6 Support

fail2ban doesn't appear to have any IPv6 support.  With lots of networks (and thus hosts) trying to turn it on for World IPv6 Launch on June 6[1], this is a blocker.

http://www.worldipv6launch.org/

Is there any ipv6 support in 0.9.1?  I see it mentioned above but I don't see it in the release notes for 0.9.1.

there is no ipv6 support in stock fail2ban releases yet.  You can find mentioned above some tentative solutions you could try, thus this issue is not closed yet

I have to agree with @brianjmurrell in that the whole talk of subnet blocking is getting in the way of the more straightforward, and painfully absent, functionality for just working with IPv6 addresses. I think Fail2ban is great, but it does seem rather ridiculous that in this day and age, IPv6 is still not officially supported.

Three years on, I don't see any consensus on what a resolution to this issue should look like. Would it not be best to at least implement support for IPv6 addresses, and then think about subnet blocking as a separate issue?

It's simply totally useless to "support" v6, without subnet blocking. Or what would your use case be?

I want to backup samir3 on this. Don't let perfection be the opponent of usefulness on this one. Adding support for IPv6 (without support for subnets) is perfectly fine and there are some (limited) use cases for it. Support for subnets can then be added and also implemented for IPv4 while you're at it.

Blocking whole subnets for IPv6 will get tricky anway, because simply blocking a /64 subnet might be based on the wrong assumption, so I don't see in which way these two issues are related.

@calestyo - It's far from useless to support IPv6 addresses without subnet blocking functionality. Whilst IPv6 makes it trivial for attackers to work from a large pool of IPs, in practice, I'm not seeing that happen any more than I already see with IPv4.

@monkeyhybrid You say it... it's trivial,... and I bet with you that 1 day (if not one hour) after nodes would actually start to employ blocking techniques at the v6 level (e.g. via fail2ban) attackers would start to adapt.

While the last commenting people said it would be useful, no one really could explain for what (other than if we assume good faith by attackers not to cycle through their ranges).

So right now I can only see disadvantages.

E.g. giving the user a wrong feeling for beeing more secure.

Depending on the configuration single address blocking might be even abused for DoS:
1 address is 16B and I'd assume at least another time_t (which is what? 64 or 32 bits depending on the arch).
If we start to store single addrs/timestamps for blocking and if that happens too long, than an attacker can probably easily fill up all memory.

Take /64 subnet... to store every address (which an attacker could try to trick us into) we'd have to use 24B*2^64 = 402653184 TiB . And even if we'd make our algo smart (e.g. folding ranges) there are plenty of numbers to trick any such smart algo (usng only every 2nd address, and so on).

I think I see the issue.  Unlike ipv4 where machines typically have a
single ip address, in ipv6, machines have at least a /64.  So why not then
block at minimum the /64 instead of the full /128?

There are 2 risks:

1) /64 is too large.  But it shouldn't be since this is the smallest mask
providers should be handing out to an entity.  Someone attacks me from a
host, I feel justified in blocking the entire /64.

2) /64 is too small, the host has a larger mask.  Well in that case, it's a
very similar problem to a host having more than a /32 ipv4 address.



On Wed, May 6, 2015 at 12:00 AM, Christoph Anton Mitterer <
notifications@github.com> wrote:

> @monkeyhybrid <https://github.com/monkeyhybrid> You say it... it's
> trivial,... and I bet with you that 1 day (if not one hour) after nodes
> would actually start to employ blocking techniques at the v6 level (e.g.
> via fail2ban) attackers would start to adapt.
>
> While the last commenting people said it would be useful, no one really
> could explain for what (other than if we assume good faith by attackers not
> to cycle through their ranges).
>
> So right now I can only see disadvantages.
>
> E.g. giving the user a wrong feeling for beeing more secure.
>
> Depending on the configuration single address blocking might be even
> abused for DoS:
> 1 address is 16B and I'd assume at least another time_t (which is what? 64
> or 32 bits depending on the arch).
> If we start to store single addrs/timestamps for blocking and if that
> happens too long, than an attacker can probably easily fill up all memory.
>
> Take /64 subnet... to store every address (which an attacker could try to
> trick us into) we'd have to use 24B*2^64 = 402653184 TiB . And even if we'd
> make our algo smart (e.g. folding ranges) there are plenty of numbers to
> trick any such smart algo (usng only every 2nd address, and so on).
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/fail2ban/fail2ban/issues/39#issuecomment-99255434>.
>


@fail2ban/developers 
since `%(known/parameter)s` implemented #868 and we have embedded substitution #919, it can be little bit easier to make universal filter/actions/regexp for both ip types.
I will make a code review next week (still shortage of time) for the purpose of check resp. write a draft for easy way to support that.

@calestyo I hear what you say with regard to the potential for DoS attacks, but that can be mitigated by limiting connection attempts at the firewall to a sustainable rate (at least for services like SSH) and limiting ban times to hours / days.

As for giving the user a false sense of security, I see attacks on the IPv4 stack that obviously come from the same source but are distributed over IP ranges of university campuses, Chinese ISPs, etc. Fail2ban doesn't deal with this either.

My use cases are exactly as they are for IPv4; block what *can* be blocked, and help keep the noise down in my logs. Judging from a cursory scan of my logs, IPv6 blocking (at single address level) would be about as effective as it would be for current IPv4 blocking. Granted, effectiveness will likely change in the future as attackers make better use of IPv6 address space, but it's not the story I'm seeing today.

Clever algos for subnet blocking would be great for both IPv4 and IPv6, but that in itself is no silver bullet and shouldn't hold back basic IPv6 functionality.


On Tue, 05 May 2015, Serg G. Brester wrote:

>    @fail2ban/developers
>    since %(known/parameter)s implemented #868 and we have embedded
>    substitution #919, it can be little bit easier to make universal
>    filter/actions/regexp for both ip types.
>    I will make a code review next week (still shortage of time) for the
>    purpose of check resp. write a draft for easy way to support that.

please also review/keep in mind previous issues/discussions and
tentative pull requests which were thrown around -- there are good ideas
and even some implementations which could provide basic skeletons.  I
still think we should aim to minimize duplication among e.g. invocations
of iptables vs ip6tables etc

Cheers and thanks for the discussion and looking into it.

-- 
Yaroslav O. Halchenko, Ph.D.
http://neuro.debian.net http://www.pymvpa.org http://www.fail2ban.org
Research Scientist,            Psychological and Brain Sciences Dept.
Dartmouth College, 419 Moore Hall, Hinman Box 6207, Hanover, NH 03755
Phone: +1 (603) 646-9834                       Fax: +1 (603) 646-1419
WWW:   http://www.linkedin.com/in/yarik        


Hello all,

I was thinking about IPv6 and Fail2ban as I disappointedly discovered that Fail2ban was not (in the stock version from Debian Jessie) blocking IPv6-originating SSH attacks.

Previously I had used some custom regex rules and custom ban actions to cover IPv6 but the major risk of this approach (as pointed earlier) would be a DoS attack during which the attacker would aim at filling up the target memory by using any /128 address of a (for example) /64 subnet.

Now, wouldn't it make sense to do the following (let's assume we are dealing with a SSH connection):
- the sysadmin defines a white-list of IP addresses from which the SSH should always be possible
- in "normal" time, all IPs can connect to SSH and fail2ban makes sure there is no bruteforce attack ongoing (banning the offending IPs)
- if fail2ban bans more than 10,000 (number to define) IPs then there is certainly something wrong happening and we could imagine then closing the SSH connection except for the whitelist IPs (+warning the sysadmins that SSH was closed except from whitelist IPs because something weird was happening)
This would mitigate the risk for DoS.

And, in the worst case scenario, if there is really someone willing to hurt the server and is ready to start attacking again and again (leading the server to get back again to whitelist-only access) then the sysadmin could take the appropriate measures (e.g. analyze the logs and ban accordingly a /48 or something relevant or, better, decide not to open SSH freely anymore and restrict it a whitelist approach.

This may not work for wide-audience services though.

What do you think? It's just some free-thinking on Saturday afternoon.

Well, as you've said it would only work for the limited scenario, where the most important connecting clients have known addresses which can be whitelisted.
This is IMHO not practicable.... as users typically connect from arbitrary addresses (their dynamically assigned home addresses, when they're travelling, etc.).

And if one cannot really track all these whitelisted addresses (which I think is the case) it just opens up a window for DoS attacks.

The way I see it:-

* IPv6 should be supported in exactly the same way IPv4 is, but disabled by default.
* Enabling IPv6 requires uncommenting a config entry, directly below a warning of the potential issues of doing so.
* Server admins like myself can implement connection rate limiting and additional monitoring to keep an eye on things and take any further action.

At least that gets IPv6 in the Fail2ban stack, which is the essential first step for any direction forward.

Exactly @monkeyhybrid, get basic IPv6 support in, then add enhancements.  Stuff like subnet blocking isn't even necessarily an IPv6-only problem, and should certainly not be a precondition to getting basic IPv6 support up.

    * IPv6 should be supported in exactly the same way IPv4 is, but disabled by default.

oh please no, don't do this - it should be enabled by default. But in anycase the subnet block should be editable via the config file e.g what do you want to block?
* /128
* /64
* /...

My only thinking for having IPv6 disabled by default was to give more experienced users a chance to experiment with IPv6 setups, work around any potential pitfalls, etc, before it became default. Personally, I'd be happy to see it be default functionality from the get go. However, regardless of whether it is on or off by default, just getting IPv6 functionality into the Fail2ban stack is crucial.

I agree with @pdf .

What's the status on this project? The issue was created three years ago. Is there any chance to see IPv6 support in fail2ban in the near future?

I use ipv6 on my webserver since 2009 and if I remember good in same year I rebuilt fail2ban with experimental patches about ipv6 support waiting official version with it.
Now after 6 years ipv6 support (even base) is still missing :(
Even if ipv6 users average are few I think is good have at least basic ipv6 support.

Thanks for anyone will help to reach this task.

Which of the patches did you adopt?


I don't remember the first build I did what was the patch exactly, I had installed more recent build unofficial: 0.8.4+svn20110323-1.1
I don't remeber where I taken it but from package changelog:
Rogerio Bastos <rogeriobastos@dcc.ufba.br>  Sat, 23 Apr 2011 22:11:16 -0300
I still use wheezy but on next server shortly I'll do new with jessie hoping to put fail2ban with good ipv6 in it.

I use route for ban that should be better with massive attack if I remember good.

The only strange thing I saw was these:
2015-06-22 17:10:36,435 fail2ban.actions: WARNING [courierauth] Ban ::ffff:61.4.83.52
2015-06-22 17:11:01,470 fail2ban.actions: WARNING [courierauth] ::ffff:61.4.83.52 already banned

Probably is not working correctly with "hybrid" notation ip.

I don't think IPv6 support without subnet blocking would give a significantly stronger false sense of security than not supporting it and not warning explicitly about the lacking support during the installation/configuration process. Many ISP now enable IPv6 by default, as well as many softwares (on debian: proftpd, apache...), and currently if the user doesn't read carefully the documentation of Fail2ban (let's face it...) he can get the feeling that enabling Fail2ban without disabling IPv6 will guarantee him a good level of security.

On the contrary, IPv6 support should be included by default (without subnet support to begin with), but disabled, *and* the cofiguration of the jails should make an explicit mention of the fact that IPv6 should be disabled on the monitored services, and the drawbacks of using IPv6 monitoring if the user really wants to use it (buffer overflow attacks, subnet address pooling, etc.), as long as smart subnet blocking is not implemented.

Thus it becomes the responsability of the user to enable IPv6 support, and he is informed of the mesures he has to take when he use IPv4-only monitoring or both IPv4 and IPv6. A more explicit warning could even be considered, like a warning in the service startup email (and prompt) if IPv6 is enabled for a service and Fail2ban only monitors IPv4 (or any other problematic use case mentionned above).

There is bounty open for this: https://www.bountysource.com/issues/1089051-ipv6-support
Some more backers may encourage someone to tackle this.


http://crycode.de/wiki/Fail2Ban#IPv6 works for me. 

@thctlo : that's actually a pretty nice workaround compare to what I've done. I wonder why the German community didn't spread it worldwide.

@Xoib I wonder that too...Pull Requests are welcome :) Now comes the licensing questions of including their changes into fail2ban on their behalf...

well, the patches suggest deactivating the "isValidIP"-function. that could result in other problems, if someone manages to exploit a service in a way that he can manipulate the logfiles...

@rotanid I'm not suggesting PR's that cause other problems. Full disclosure, I haven't fully reviewed or tested their misc. patches. But I'm not sure `isValidIP` needs to be removed/short-circuited in order for their proposed solution to work either.

@leeclemens perhaps you could replace "socket.inet_aton(s[0])" in fail2ban/server/filter.py by something like 
socket.inet_pton(socket.AF_INET, "127.0.0.1")
socket.inet_pton(socket.AF_INET6, "::1")
to make isValidIP work. but i'm not a python dev.

note that we had experimental branch adopting similar solution which resides in 
https://github.com/fail2ban/fail2ban/tree/_tent/ipv6_adapter_cmd  branch of this repository... I would need to recall why we decided not to pursue that approach.  If someone updates the branch to current state of things, we might have a clearer view. 
Once again -- for proper support of IPv6 we would need allow banning by subnets and accommodate for differences in syntax for the tools/firewalls we use in actions.  We can't accept a solution which would later show not to scale properly (leaving some actions without ipv6 support), so half-working solutions shouldn't get merged!

@yarikoptic this is why there's *no* IPV6 support.  You need to consider merging basic IPv6 support, then adding enhancements like subnet blocking (which should be made available for both IPv6 and IPv4), break the work into manageable chunks.

@pdf subnet blocking is necessary for ipv6 support (memory exhaustion).

This serverfault posting describes the subnetting in ipv6:
http://serverfault.com/questions/426183/how-does-ipv6-subnetting-work-and-how-does-it-differ-from-ipv4-subnetting

Unless I've vastly misunderstood something, when fail2ban implements ipv6
blocking, it should by default block the entire /64 subnet.  It's not
because of memory exhaustion, it's because end points in ipv6 are all /64
subnets.

There is a special case of point-to-point routers being /127 but from what
I'm reading this is probably a non issue because those /127 addresses will
come out of a larger /64.  I could argue that all those point-to-point /127
addresses inside the larger /64 are like one large misbehaving host and
should be summarily banned!

By all means make this configurable.  But from everything I've read, a host
in ipv6 is a /64 and a /64 is the smallest chunk that gets handed to
someone.

On Fri, Jul 3, 2015 at 9:37 PM, Lee Clemens <notifications@github.com>
wrote:

> @pdf <https://github.com/pdf> subnet blocking is necessary for ipv6
> support (memory exhaustion).
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/fail2ban/fail2ban/issues/39#issuecomment-118421974>.
>


> ...a host in ipv6 is a /64 and a /64 is the smallest chunk that gets handed to someone.

This is not true. Typically, but by no means exclusively, a /64 is the prefix length for a single link (layer 2 broadcast domain, VLAN...), or, as the ServerFault answer you cited says, "/64: the basic size of a single subnet". There can be a truly staggering number of hosts with addresses covered by a given /64 prefix.

> There can be a truly staggering number of hosts with addresses covered by
a given /64 prefix.

@neirbowj, Technically yes but it would be against the current
recommendation.  a staggering /64 is what each end point is supposed to get.

Even if someone divided up their /64 into smaller chunks, they still have
that /64.  Can someone explain why you would not block their entire /64?





On Sat, Jul 4, 2015 at 12:19 AM, neirbowj <notifications@github.com> wrote:

> ...a host in ipv6 is a /64 and a /64 is the smallest chunk that gets
> handed to someone.
>
> This is not true. Typically, but by no means exclusively, a /64 is the
> prefix length for a single link (layer 2 broadcast domain, VLAN...), or, as
> the ServerFault answer you cited says, "/64: the basic size of a single
> subnet". There can be a truly staggering number of hosts with addresses
> covered by a given /64 prefix.
>
> —
> Reply to this email directly or view it on GitHub
> <https://github.com/fail2ban/fail2ban/issues/39#issuecomment-118437051>.
>


> ...it would be against the current recommendation. a staggering /64 is what each end point is supposed to get.

Where are you getting this information? What do you mean by "end point?" It sounds like you have some misconceptions about IPv6 addressing.

> @neirbowj, Technically yes but it would be against the current recommendation.  a staggering /64 is what each end point is supposed to get.

What?  That's nonsense.  What's an 'end point' in your mind?  You don't allocate a /64 to every *host*, that would be insane.

> Even if someone divided up their /64 into smaller chunks, they still have that /64.  Can someone explain why you would not block their entire /64?

As an example, VM hosting companies may decide against allocating a /64 for every one of their customers (justifiably?), which means that a single malicious actor on one of their *hosts* will cause you to block the rest of the legitimate hosts on that subnet.

Blocking the /64 will definitely result in problems with the current implementation. As an example take this colocation provider: https://contabo.com/?show=servers

They advertise their server products as IPv6 ready. Each server will get 65.535 IPv6 addresses, which definitely is not a /64. Of course the problem is the provider here, but I guess this is not the only provider doing this.



RFC5375:

```
"An important part of an IPv4 addressing plan is deciding the length
   of each subnet prefix.  Unlike in IPv4, the IPv6 addressing
   architecture [RFC4291] specifies that all subnets using Globally
   Unique Addresses and ULAs always have the same prefix length of 64
   bits.  (This also applies to the deprecated 6bone and site-local
   addresses.)

   The only exception to this rule are special addresses starting with
   the binary value 000, such as IPv4-compatible IPv6 addresses.  These
   exceptions are largely beyond the scope of this document."
...
"Using a subnet prefix length other than a /64 will break many features of IPv6"
...
"Using subnet prefixes longer than /64 is not recommended for general use, and 
using them for links containing end hosts would be an especially bad idea, as it is 
difficult to predict what IPv6 features the hosts will use in the future."
...
"   It must be noted that using subnet prefixes other than /64 breaks
   security mechanisms such as Cryptographically Generated Addresses
   (CGAs) and Hash-Based Addresses (HBAs), and thus makes it impossible
   to use protocols that depend on them."
```

RFC7084:

```
"WPD-2:  The IPv6 CE router MAY indicate as a hint to the delegating
           router the size of the prefix it requires.  If so, it MUST
           ask for a prefix large enough to assign one /64 for each of
           its interfaces, rounded up to the nearest nibble, and SHOULD
           be configurable to ask for more."
...
"L-2:   The IPv6 CE router MUST assign a separate /64 from its
          delegated prefix(es) (and ULA prefix if configured to provide
          ULA addressing) for each of its LAN interfaces."
```

I see this minimum requirement for end systems having a minimum of a /64 all over the place.

@reissman, based on what I understand, contabo is doing it wrong, they should be allocating a minimum of a /64.



But what you cited above is all about *subnet* and NOT single host. Making huge simplification: /64 in ipv6 is like /24 (was few years ago) for ipv4.

No, a /64 is NOT the new /24.  This is definitely not what I understand at all.  A /56 is like the new /24.

Everything I read says that each HOST gets a minimum /64 SUBNET.

It has to do with the auto-configuration in ipv6.  The lower 64 bits get either the EUI-64 or EUI-48 mac address.  But that does not mean that you would allocate a /64 to your lan and then let the uniqueness of these addresses sort things out.  No.  Each HOST has a full 64 bits to itself.  

Anyway, let's say you get a /64 for your home and you split it up internally and you give out /128 addresses to each device on your internal LAN and you set one of your desktops up to try and break into my server, I'd be well justified in banning (firewalling) your entire /64.  There's no difference doing this versus banning a single ipv4 address which has a network of hosts behind it with NAT.




Scroll down and look at the 3rd posting here: http://serverfault.com/questions/426183/how-does-ipv6-subnetting-work-and-how-does-it-differ-from-ipv4-subnetting titled "IPv6 is 128 bits, so why is /64 the smallest recommended subnet for hosts?"

Farther up, one person wrote "/48: a block of 65536 basic subnets and the recommended size of block that every ISP customer end site should receive."  This is well sufficient that each host on your network gets a /64.  NAT is not necessary and it's use is dissuaded in IPv6.



so you are arguing at the moment over the default bann prefix ? shouldn't this be a setting in a config file?

@Deshke: I am saying that fail2ban, for ipv6, must allow banning a subnet.  I would say that jail.conf should specify a default bann previx for ipv6 and that default should be /64.  If you want to set it to /128 or whatever in your jail.local, go ahead.

@mgrant0 you have absolutely no idea what you're talking about.  Each host most definitely does not get a /64, that's just complete stupidity.  You've obviously never deployed (or used?) IPv6, and you've quoted the RFCs that explicitly state the **opposite** of what you keep saying.  Because what you're saying is completely and utterly nonsensical, I mean really just totally batshit.  Please stop.

@mgrant0 of course contabo is wrong! I'm just saying that this is the current state of implementation - many companies doing it wrong. This can definitely result in unexpected filtering.

From the fail2ban/firewall's point of view, if you do not block the subnet, even in the contabo case with just a /112, you get 65535 * 3 (or whatever you set maxretry to) attempts before getting blocked. Considering this, it is not even enough to block the subnet based on a single IPv6 address. Instead, one could argue that any attempt from the same subnet needs to be considered the "same source", meaning that any attempt from any IPv6 address in the subnet needs to be added and compared to the maxretry parameter.

@reissmann contabo is not even wrong, the RFCs are talking about routers, and the subnet size minimum is a routing concern - how you distribute the IPs to hosts within the subnet is up to the operator.  But yes, the sane way to block subnets is to count IPs in the same subnet against maxfail (and probably increase it to compensate).

@pdf wrote
> @mgrant0 you have absolutely no idea what you're talking about. Each host most definitely does not get a /64, that's just complete stupidity. You've obviously never deployed (or used?) IPv6, and you've quoted the RFCs that explicitly state the opposite of what you keep saying. Because what you're saying is completely and utterly nonsensical, I mean really just totally batshit. Please stop.

@pdf, please don't take this kind of tone. It harms the central goals of this discussion, and, more broadly, harms the fail2ban project by shutting down participation and driving away contribution.

@mgrant0, I think I understand something about the nature of your misunderstanding. It's hard to boil it down, but let me try.

In IPv4, when you configure a host interface with an address and prefix length, like 192.0.2.33/24, this *assigns* exactly one address to the host with network address 192.0.2.0/24 and host address 0.0.0.33, and gives the host a way to determine whether any given address belongs to a node attached to the same link or not, or, equivalently, whether the given address is reachable directly or only by way of the host's default gateway. There is nothing all that special about a /24, except that it corresponds to an octet boundary, which makes mental subnet calculations easy, and represents a network of a useful size (1 gateway and 253 hosts) in the context of address scarcity.

In IPv6, the same basic rules hold (see footnote 1), so if a host interface is configured with an address and prefix length, like 2001:db8:d00d:babe::33/64, one can infer corresponding semantics: the host has been *assigned* exactly one address with prefix 2001:db8:d00d:babe::/64 and interface identifier ::33, and it can tell whether any given address is attached to the same link or not (i.e. contact directly vs. contact by way of router). What's a bit different with IPv6, and where I think you may be getting wrapped around the axle, is that /64 *is* special. The main reason that it's special is because it divides an address at the only point that is allowable for the operation of SLAAC on Ethernet networks (see "interface identifier" in Section 2 of [RFC 4862 IPv6 Stateless Address Autoconfiguration](https://tools.ietf.org/html/rfc4862), and Section 4 of [RFC 2464 Transmission of IPv6 Packets over Ethernet Networks](https://tools.ietf.org/html/rfc2464)). That does not mean that the entire /64 piece of address space is *allocated* for the benefit of a single host for the exclusive, autonomous assignment of any or all addresses within it. It means that the each host on that same network is free to generate an interface identifier that is 64-bits long (see footnote 2).

On links where SLAAC is not enabled&mdash;such as on point-to-point links, or virtual loop-back links, both of which are very common for routers and very uncommon for hosts&mdash;the 64-bit constraint does not apply, and other considerations (e.g. see [RFC 6164 Using 127-Bit IPv6 Prefixes on Inter-Router Links](https://tools.ietf.org/html/rfc6164)) come into play. This is probably why you find phrasing about prefix lengths "for hosts."

It might be an interesting thought experiment to read [RFC 7421 Analysis of the 64-bit Boundary in IPv6 Addressing](https://tools.ietf.org/html/rfc7421) as if it were titled "Analysis of the 24-bit Boundary in IPv4 Addressing," replacing "subnet prefix" with "network address," "interface identifier" with "host address," and so forth, to see how compatible the conceptual models are.

I hope this helps.

Footnote 1: [RFC 5942 IPv6 Subnet Model: The Relationship between Links and Subnet Prefixes](https://tools.ietf.org/html/rfc5942) tries to inject some daylight between any assigned address and the notion of an intrinsic or invariant prefix length that belongs to it, but by far the dominant implementation trend is to encourage operators to treat IPv6 the same way they treated IPv4.

Footnote 2: Because of, e.g., [RFC 4941 Privacy Extensions for Stateless Address Autoconfiguration in IPv6](https://tools.ietf.org/html/rfc4941), a single host typically generates and self-assigns more than one interface identifier within the available /64, especially over time. The probability of collision is infinitesimally small though, so there is still no need to reserve a /64 per host.

ok -- now that we have "disgussed" prefix to a degree sufficient to state that we all agree it is necessary to support configurable prefix length, next topic could be (and that is the actually major stumble point) is how to support tools which require different cmdline tools (possibly with different syntax) to execute actions for ipv4 and ipv6 addresses.  Multiple approaches were suggested with different degree of scalability/maintainability

1. fail2ban-* wrappers
  - http://crycode.de/wiki/Fail2Ban#IPv6 and  https://github.com/fail2ban/fail2ban/pull/88  -- iptables specific, figuring out switching between v4 and v6 again on regexp within the wrapper
  - https://github.com/fail2ban/fail2ban/tree/_tent/ipv6_adapter_cmd - more flexible one but again deciding on switching within the wrapper

  **pros**: 
  - quick and dirty working solution(s) which might work for both iptables and shorewall (and may be others) 
  - efficient in terms of avoiding duplication of commands definitions separately for ipv4 and ipv6

  **cons**:
  - no way to customize whenever different cmdline arguments are needed for ipv4 vs ipv6 (I can't recall but that is where I believe we decided it would not be the way to go, but forgot which was the example).
  - regexping entire line to decide 4 vs 6 can be fragile, also it is duplication since fail2ban-server process already would know what family of the address it is dealing with!

2. explicit specification of different commands for ipv4 and ipv6 .  @grooverdan has done already lots of work on that implementation: e.g. https://github.com/grooverdan/fail2ban/tree/ipv6_2 (there is few more branches... needs to be recovered if we decide to go that way, also in my clone https://github.com/yarikoptic/fail2ban/tree/ipv6), and then fail2ban process deciding which lines to run depending on what family of address it is (4 vs 6) and looking for ```<ip4``` vs ```<ip6``` (vs ```<ip>``` for any) in the cmd to run.

**pros**
- semi-explicit (decision based on the tags within the line -- could be taken as cons)
- tightly integrates with fail2ban-server process knowing the family of the address (no duplication of logic as in wrappers solution)

**cons**
- duplication of highly similar cmdlines (besides different executable)

I don't remember what was left to be done to make it a complete perspective solution

3. we had few more (flexible/fragile) proposals, e.g. ... need to run -- will complete later ;)

in my opinion a "default prefix" which can be changed isn't the best option.
what about raising the size of the blocked subnet slowly as attacks from neighbor-subnets appear (example: /128, /112 (vps providers), /96, /80, /64, /56 (f.e. DTAG-DSL-customers), /48 (datacenter customers))

@rotanid why not? 

@neirbowj Ok, thanks for the explanation.  I think I see my misunderstanding now.  It has to do with host sitting in a /64 versus routed a /64 to the host.  In the immortal words of Emily Litella, never mind.

in comment of : subnet blocking is necessary for ipv6 support (memory exhaustion). 
isnt the IP set feature not a solution for that? 

@thctlo how the IP-set will help to prevent memory exhaustion in fail2ban (python, sqlite database of f2b etc.)?
The internal merge of multiple tickets with IPs of the same subnet necessary to be made in f2b self. That requires changing some basic structures and algorithms in f2b.

ah ok, sorry for the noice, i mis read the thread.. , 

This issue grew out of proportions and was "closed" to be continued in https://github.com/fail2ban/fail2ban/issues/1123 . 

**DO NOT POST NEW COMMENTS HERE OR THEY WILL GET REMOVED.**
Discussion will continue in #1123 and other new tickets and PRd

We have introduced a new branch with IPv6 support: 0.10, and the new PR #1410
The decision is at least firstly - 0.9 will never get IPv6-support.

Everyone interested to test 0.10 is welcome to review resp. try this new vesion.
